@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
  height: 100%;
}
body {
  height: 100%;
}

.container {
  padding: 80px 0;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
}

.dark {
  background-color: #293742;
}

.page-not-found {
  margin: 20px auto;
  width: 80%;
}

.post {
  margin: 15px 20px;
  display: grid;
  grid-template-columns: 30px 1fr auto;
  grid-gap: 20px;
}

.author-text {
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: -10px;
  font-size: 12px;
}

.vote-score {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
}

.options {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.form-container {
  padding: 20px;
}

/* Comments */
.comment {
  display: grid;
  grid-template-columns: 30px 1fr auto;
  grid-gap: 20px;
}

.comment-list {
  grid-column: span 2;
}

.comment-header {
  margin-top: 20px;
  font-size: 18px;
}

.comment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.comment-form-header {
  margin-top: 20px;
  grid-column: span 2;
  font-size: 16px;
}
